div.stars {

  display: inline-block;

}

.mt-200 {
  margin-top: 200px;
}

input.star {
  display: none;
}



label.star {

  float: right;

  padding: 10px;

  font-size: 36px;

  color: #4A148C;

  transition: all .2s;

}



input.star:checked~label.star:before {

  content: '\f005';

  color: #FD4;

  transition: all .25s;

}


input.star-5:checked~label.star:before {

  color: #FE7;

  text-shadow: 0 0 20px #952;

}



input.star-1:checked~label.star:before {
  color: #F62;
}



label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}



label.star:before {

  content: '\f006';

  font-family: FontAwesome;

}


.background_image {
  width: 100% !important;
  height: auto;
  transform: translate(0px, -150px);
}

.footer {
  position: relative;
  z-index: 10;
}


/* loading spinner in the footer section */
.footerPlayerSpinner {
  position: relative;
  right: 15px;
  top: 2px;
}

.mainPlayerSpinner {
  position: relative;
  top: 4px;
}

/* language selector css */
.sl-nav {
  position: relative;
  top: 4px;
  display: inline;
}

.sl-nav ul {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  z-index: 11;
}

.sl-nav li {
  cursor: pointer;
  padding-bottom: 10px;
}

.sl-nav li ul {
  display: none;
}

.sl-nav li:hover ul {
  position: absolute;
  top: 29px;
  right: -15px;
  display: block;
  background: #fff;
  width: 120px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}

.sl-nav li:hover .triangle:after {
  content: "";
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom: 0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}

.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}

.sl-nav li ul li span {
  padding-left: 5px;
}

.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
  color: #146c78;
}

.sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
}

.flag-de {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAPUlEQVQ4T+3HMQ0AIBTE0NOHM8x9B7hgh71bIWGieUvze1m7kHGBr/AVvsJX+EpmP5dV5/gKX+ErfIUvVDYcX2NMxQC8PAAAAABJRU5ErkJggg==");
  background-size: cover;
  background-position: center center;
}

.flag-gb {
  background-size: cover;
  background-position: center center;
  background: url("../../backend/img/icons/flags/BR.png");
}

.flag-au {
  background-size: cover;
  background-position: center center;
  background: url("../../backend/img/icons/flags/AU.png");
}

.flag-usa {
  background-size: cover;
  background-position: center center;
  background: url("../../backend/img/icons/flags/US.png");
}

.flag-de {
  background-size: cover;
  background-position: center center;
  background: url("../../backend/img/icons/flags/DE.png");
}

/* media queries fro the main landing page of backend */
/* mostly for special phones */
@media (max-width: 360px) {
  .changeView {
    height: 75vh !important;
  }

}

@media (max-width: 375px) and (min-height: 667px) {
  .changeView {
    height: 73vh !important;
  }
}

@media (max-width: 375px) and (min-height: 812px) {
  .changeView {
    height: 80vh !important;
  }

}

@media (max-width: 411px) and (min-height: 731px) {
  .changeView {
    height: 77vh !important;
  }

}

@media (max-width: 414px) and (min-height: 736px) {
  .changeView {
    height: 75vh !important;
  }

}

@media (max-width: 414px) and (min-height: 846px) {
  .changeView {
    height: 78vh !important;
  }

}

@media (max-width: 414px) and (min-height: 896px) {
  .changeView {
    height: 76vh !important;
  }

}

@media (max-width: 424px) and (min-height: 786px) {
  .changeView {
    height: 77vh !important;
  }

}

@media (max-width: 428px) and (min-height: 926px) {
  .changeView {
    height: 81vh !important;
  }

}

@media (max-width: 480px) and (min-height: 853px) {
  .changeView {
    height: 81vh !important;
  }

}

/* @media (min-width: 480px){ 
  .changeView {
    height: 85vh !important;
  }

} */