@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.GuestBody {
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
  transition: background-color var( --cubic-slider);
}

.GuestBody::before {
  content: "";
  position: fixed;
  background: #040404 url("../guest/image/apocalypticsunset.png") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}
@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}
#header * {
  transition: ease-in-out 0.3s;
}
#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
#header h1 a, #header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}
#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}
#header h2 span {
  color: #fff;
  border-bottom: 2px solid #18d26e;
  padding-bottom: 6px;
}
#header img {
  padding: 0;
  margin: 0;
}
#header .social-links {
  margin-top: 40px;
  display: flex;
}
#header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#header .social-links a:hover {
  background: #18d26e;
}
@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #header .social-links {
    margin-top: 15px;
  }
  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Header Top */
#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
}
#header.header-top .social-links, #header.header-top h2 {
  display: none;
}
#header.header-top h1 {
  margin-right: auto;
  font-size: 36px;
}
#header.header-top .container {
  display: flex;
  align-items: center;
}
#header.header-top .navbarg {
  margin: 0;
}
@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }
  #header.header-top h1 {
    font-size: 26px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbarg {
  padding: 0;
  margin-top: 35px;
}
.navbarg ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbarg li {
  position: relative;
}
.navbarg li + li {
  margin-left: 30px;
}
.navbarg a, .navbarg a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
}
.navbarg a i, .navbarg a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbarg a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #18d26e;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbarg a:hover:before, .navbarg li:hover > a:before, .navbarg .active:before {
  visibility: visible;
  width: 25px;
}
.navbarg a:hover, .navbarg .active, .navbarg .active:focus, .navbarg li:hover > a {
  color: #fff;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbarg ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.navbar-mobile li {
  padding: 12px 20px;
}
.navbar-mobile li + li {
  margin: 0;
}
.navbar-mobile a, .navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}
.section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}
.section .container {
  background: rgba(0, 0, 0, 0.9);
  padding: 30px;
}
@media (max-width: 768px) {
  section {
    top: 120px;
  }
  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4ceb95;
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/
.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 13px;
  color: #fff;
  z-index: 999999;
}
@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
  }
}
.credits a {
  color: #18d26e;
  transition: 0.3s;
}
.credits a:hover {
  color: #fff;
}

/***************************************************************
#,Music mixes section
****************************************************************/

.music-box {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
  padding: 15px;
  width: 400px;
  height: initial;
  background-color: #463239;
  box-shadow: 0 0 15px #535353;
  border-radius: 3px;
  overflow: hidden;
}
.music-box .album {
  position: relative;
}
.music-box .album .photo {
  background: url("https://images.unsplash.com/photo-1533475184589-ad2b25374b56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat 100% 100%;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.music-box .album .infos {
  background-color: rgba(70, 50, 57, 0.3);
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}
.music-box .album .infos .song {
  padding: 10px;
  color: #c6ad94;
  letter-spacing: 0.5px;
}
.music-box .album .infos .song span, .music-box .album .infos .song small {
  display: block;
}
.music-box .dashboard {
  margin-top: 15px;
}
.music-box .dashboard .list {
  position: relative;
  transition-duration: 0.3s;
  background-color: #eee;
  right: 0;
}
.music-box .dashboard .list .list-btn {
  z-index: 2;
  background-color: #ffba49;
  width: 44px;
  height: 44px;
  position: absolute;
  right: 5px;
  top: -44px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-delay: 0.9s;
}
.music-box .dashboard .list .list-btn span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 28px;
  height: 1px;
  background-color: #463239;
  position: relative;
  transition: width 0.3s 0.3s, background-color 0.3s 0.6s;
  transition-timing-function: linear;
}
.music-box .dashboard .list .list-btn span::before, .music-box .dashboard .list .list-btn span::after {
  background-color: #463239;
  content: "";
  width: 28px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  transition-timing-function: linear;
  transition: width 0.3s 0.3s, margin 0.3s 0.6s, transform 0.3s 0.3s;
}
.music-box .dashboard .list .list-btn span::before {
  margin-top: 6px;
}
.music-box .dashboard .list .list-btn span::after {
  margin-top: -6px;
}
.music-box .dashboard .list.active .list-btn {
  top: -322px;
  transition: top 0.3s 0.6s;
}
.music-box .dashboard .list.active .list-btn span {
  background-color: transparent;
  width: 34px;
  transition: width 0.3s, background-color 0.3s;
}
.music-box .dashboard .list.active .list-btn span::before, .music-box .dashboard .list.active .list-btn span::after {
  margin: 0;
  width: 34px;
  transition: width 0.3s, margin 0.3s, transform 0.3s 0.3s;
}
.music-box .dashboard .list.active .list-btn span::before {
  transform: rotate(225deg);
}
.music-box .dashboard .list.active .list-btn span::after {
  transform: rotate(315deg);
}
.music-box .dashboard .player .time {
  color: #c6ad94;
}
.music-box .dashboard .player .time-rail {
  height: 1px;
  position: relative;
  padding: 15px 0;
  overflow: hidden;
}
.music-box .dashboard .player .time-rail .thumb, .music-box .dashboard .player .time-rail .track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.music-box .dashboard .player .time-rail .thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffba49;
  z-index: 1;
  left: 30%;
  transition: 0.3s;
}
.music-box .dashboard .player .time-rail .thumb:hover {
  transform: translateY(-50%) scale(1.2);
}
.music-box .dashboard .player .time-rail .thumb::before {
  content: "";
  width: 500px;
  height: 1px;
  background-color: #ffba49;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.music-box .dashboard .player .time-rail .track {
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #c6ad94;
}
.music-box .dashboard .player .time-rail input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  overflow: hidden;
  background: none;
}
.music-box .dashboard .player .time-rail input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffba49;
}
.music-box .dashboard .action-button {
  text-align: center;
}
.music-box .dashboard .action-button a {
  cursor: pointer;
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 3px;
  line-height: 44px;
  color: #c6ad94;
  transition-duration: 0.3s;
}
.music-box .dashboard .action-button a:hover {
  color: #ffba49;
}
.music-box .dashboard .action-button a:hover.play-pause {
  border-color: #ffba49;
}
.music-box .dashboard .action-button a.play-pause {
  border-radius: 50%;
  border: 1px solid #c6ad94;
  font-size: 1.5em;
  width: 54px;
  height: 54px;
  line-height: 54px;
}
.music-box .dashboard .action-button a.play-pause.active {
  border-color: #ffba49;
}
.music-box .dashboard .action-button a.play-pause.active i::before {
  content: "ÔÅã";
  margin-left: 5px;
}
.music-box .dashboard .action-button a.active {
  color: #ffba49;
}
.music-box .lists {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #463239;
  transform: translateX(-100%);
  transition: 0.3s 0s;
}
.music-box .lists.active {
  transform: translateX(0);
  transition: 0.3s 0.9s;
}
.music-box .lists .label {
  font-size: 2em;
  padding: 8px 15px;
  height: 60px;
  box-sizing: border-box;
  color: #ffba49;
}
.music-box .lists ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  height: calc(100% - 60px);
  position: absolute;
  overflow-y: auto;
  background-color: #c6ad94;
}
.music-box .lists ul::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.music-box .lists ul::-webkit-scrollbar-track {
  background-color: #463239;
}
.music-box .lists ul::-webkit-scrollbar-thumb {
  background-color: #ffba49;
  border-radius: 3px;
}
.music-box .lists ul li {
  cursor: pointer;
  padding: 5px 15px;
  transition-duration: 0.3s;
}
.music-box .lists ul li span, .music-box .lists ul li em {
  display: inline-block;
}
.music-box .lists ul li span small {
  display: block;
}
.music-box .lists ul li em {
  float: right;
  top: 0;
  font-style: normal;
  font-size: 12px;
  margin-top: 12px;
}
.music-box .lists ul li:nth-of-type(odd) {
  background-color: rgba(70, 50, 57, 0.1);
}
.music-box .lists ul li:hover {
  background-color: rgba(70, 50, 57, 0.3);
}

/* media queries fro the main landing page of backend */
/* mostly for special phones */
@media (max-width: 360px) { 
  
  .section-title h2::after {
    height: 1px;
    margin: 5px 10px;
  }

  .footer-title {
    position: "relative";
    top: "50px";
  }

  .footer-title h2::after {
    height: 1px;
    margin: 10px 10px;
  }

  .music-box {
    position: relative;
    width: 338px;
  }

  .section-title h2 {
    letter-spacing: 0px;
  }

}

@media (max-width: 375px) and ( min-height: 667px ) { 

  .section-title h2::after {
    height: 1px;
    margin: 5px 10px;
  }

  .footer-title {
    position: relative;
    top: 40px;
  }

  .footer-title h2::after {
    height: 1px;
    margin: 10px 10px;
  }

  .music-box {
    position: relative;
    width: 338px;
  }

  .section-title h2 {
    letter-spacing: 0px;
  }

}

@media (max-width: 375px) and ( min-height: 812px ){ 
  .changeView {
    height: 80vh !important;
  }

}

@media (max-width: 390px) and ( min-height: 844px){
  .section-title h2::after {
    height: 1px;
    margin: 5px 10px;
  }

  .footer-title {
    position: relative;
    top: 40px;
  }

  .footer-title h2::after {
    height: 1px;
    margin: 10px 10px;
  }

  .music-box {
    position: relative;
    width: 338px;
  }

  .section-title h2 {
    letter-spacing: 0px;
  }
}

@media (max-width: 411px) and ( min-height: 731px ){ 
  .section-title h2::after {
    height: 1px;
    margin: 5px 10px;
  }

  .footer-title {
    position: relative;
    top: 40px;
  }

  .footer-title h2::after {
    height: 1px;
    margin: 10px 10px;
  }

  .music-box {
    position: relative;
    width: 338px;
  }

  .section-title h2 {
    letter-spacing: 0px;
  }

}

@media (max-width: 414px) and ( min-height: 736px ){ 
  .section-title h2::after {
    height: 1px;
    margin: 5px 10px;
  }

  .footer-title {
    position: relative;
    top: 40px;
  }

  .footer-title h2::after {
    height: 1px;
    margin: 10px 10px;
  }

  .music-box {
    position: relative;
    width: 338px;
  }

  .section-title h2 {
    letter-spacing: 0px;
  }

}

@media (max-width: 414px) and ( min-height: 846px ){ 
  .section-title h2::after {
    height: 1px;
    margin: 5px 10px;
  }

  .footer-title {
    position: relative;
    top: 40px;
  }

  .footer-title h2::after {
    height: 1px;
    margin: 10px 10px;
  }

  .music-box {
    position: relative;
    width: 338px;
  }

  .section-title h2 {
    letter-spacing: 0px;
  }

}

@media (max-width: 414px) and ( min-height: 896px ){ 
  .section-title h2::after {
    height: 1px;
    margin: 5px 10px;
  }

  .footer-title {
    position: relative;
    top: 40px;
  }

  .footer-title h2::after {
    height: 1px;
    margin: 10px 10px;
  }

  .music-box {
    position: relative;
    width: 338px;
  }

  .section-title h2 {
    letter-spacing: 0px;
  }
}

@media (max-width: 424px) and ( min-height: 786px ){ 
  .section-title h2::after {
    height: 1px;
    margin: 5px 10px;
  }

  .footer-title {
    position: relative;
    top: 40px;
  }

  .footer-title h2::after {
    height: 1px;
    margin: 10px 10px;
  }

  .music-box {
    position: relative;
    width: 338px;
  }

  .section-title h2 {
    letter-spacing: 0px;
  }

}

@media (max-width: 428px) and ( min-height: 926px ){ 
  .section-title h2::after {
    height: 1px;
    margin: 5px 10px;
  }

  .footer-title {
    position: relative;
    top: 40px;
  }

  .footer-title h2::after {
    height: 1px;
    margin: 10px 10px;
  }

  .music-box {
    position: relative;
    width: 338px;
  }

  .section-title h2 {
    letter-spacing: 0px;
  }

}

@media (max-width: 480px) and ( min-height: 853px ){ 
  .section-title h2::after {
    height: 1px;
    margin: 5px 10px;
  }

  .footer-title {
    position: relative;
    top: 40px;
  }

  .footer-title h2::after {
    height: 1px;
    margin: 10px 10px;
  }

  .music-box {
    position: relative;
    width: 338px;
  }

  .section-title h2 {
    letter-spacing: 0px;
  }

}

@media (max-width: 600px) and ( min-height: 960px){

  .footer-title {
    position: relative;
    top: 40px;
  }

  .footer-title h2::after {
    height: 1px;
    margin: 10px 10px;
  }

  .section-title h2 {
    letter-spacing: 0px;
  }
}

@media (min-width: 600px){

  .footer-title {
    position: relative;
    top: 40px;
  }

  .footer-title h2::after {
    height: 1px;
    margin: 10px 10px;
  }

}