#quizeSection input[type="text"] {
  outline: rgb(5, 3, 3) auto 5px;
}

#uploadSection input[type="text"],
textarea,
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
  outline: rgb(5, 3, 3) auto 1px;
}


div.stars {

  display: inline-block;

}

.mt-200 {
  margin-top: 200px;
}

input.star {
  display: none;
}



label.star {

  float: right;

  padding: 10px;

  font-size: 36px;

  color: #4A148C;

  transition: all .2s;

}



input.star:checked~label.star:before {

  content: '\f005';

  color: #FD4;

  transition: all .25s;

}


input.star-5:checked~label.star:before {

  color: #FE7;

  text-shadow: 0 0 20px #952;

}



input.star-1:checked~label.star:before {
  color: #F62;
}



label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}



label.star:before {

  content: '\f006';

  font-family: FontAwesome;

}


.background_image {
  width: 100%z;
  height: auto;
  transform: translate(0px, -150px);
}

.footer {
  position: relative;
  z-index: 10;
}


/* loading spinner in the footer section */
.footerPlayerSpinner {
  position: relative;
  right: 15px;
  top: 2px;
}

.mainPlayerSpinner {
  position: relative;
  top: 4px;
}

/* language selector css */
.sl-nav {
  position: relative;
  top: 4px;
  display: inline;
}

.sl-nav ul {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  z-index: 11;
}

.sl-nav li {
  cursor: pointer;
  padding-bottom: 10px;
}

.sl-nav li ul {
  display: none;
}

.sl-nav li:hover ul {
  position: absolute;
  top: 29px;
  right: -15px;
  display: block;
  background: #fff;
  width: 120px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}

.sl-nav li:hover .triangle:after {
  content: "";
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom: 0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}

.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}

.sl-nav li ul li span {
  padding-left: 5px;
}

.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
  color: #146c78;
}

.sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 16px;
  height: 15px;
  background: #aaa;
  position: relative;
  top: 2px;
  overflow: hidden;
}

.flag-gb {
  background-size: cover;
  background-position: center center;
  background: url("../../users/img/icons/flags/GB.png");
}

.flag-sp {
  background-size: cover;
  background-position: center center;
  background: url("../../users/img/icons/flags/SP.png");
}

.flag-fr {
  background-size: cover;
  background-position: center center;
  background: url("../../users/img/icons/flags/FR.png");
}

/* css for the Chard js */
.chart-container {
  position: relative;
  height: 40vh;
  width: 80vw;
}


.changeView {
  height: 85vh; 
  overflow: auto;
}